<%= provide(:title, "Hours")%>
<h1>Project Hours</h1>
<% currently_at("Hours")%>
<table class="table table-striped table-bordered table-hover">
	<tr>
		<th>Project</th>
		<th>Description</th>
		<th>Start Time</th>
		<th>Finish Time</th>
		<th>Performed on</th>
		<th>Remove</th>
		
		</tr>
<% @hours.each do |hour| %>
	<tr>
		
		<td><%= hour.project_name %> </td>
		<td><%= hour.description %></td>
		<td><%= hour.start_time.to_s(:due_time) %></td>
		<td><%= hour.finish_time.to_s(:due_time) %></td>
		<td><%= hour.performed_on.strftime("%d/%m/%Y") %></td>
		<td><%= link_to 'Delete', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td> <br>
	</tr>
<% end %>
</table>


