<p>
	<b>Name:</b>
	<%= @client.name %>
</p>

<p>
	<b>Address:</b>
	<%= @client.address %>
</p>

<p>
	<b>City:</b>
	<%= @client.city %>
</p>

<p>
	<b>State:</b>
	<%= @client.state %>
</p>

<p>
	<b>Postcode:</b>
	<%= @client.postcode %>
</p>

<p>
	<b>Phone:</b>
	<%= @client.phone %>
</p>

