<% provide(:title, 'All clients') %>




<h1>Clients</h1>
<%= currently_at 'Clients' %>
<%= form_tag clients_path, :method => 'get', :id => "clients_search" do %>
<p>
	<div class="input-append">
		<%= text_field_tag :search, params[:search], :class => "span6" %>
		<%= submit_tag "Search", :name => nil, :class => "btn" %>
	</div>
</p>
<% end %>

<ul class="clients">
	<% @clients.each do |client| %>
	<li>
		<%= link_to client.name, client  %>
	</li>
	<% end %>
</ul>

<%= will_paginate %>



