<% provide(:title, 'All clients') %>



<div class="container">
	<div class="span6">
		<h1>Clients</h1>
		<%= form_tag clients_path, :method => 'get', :id => "clients_search" do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
			
		</p>
		<% end %>
		<%= will_paginate %>

		<ul class="clients">
			<% @clients.each do |client| %>
			<li>
				<%= link_to client.name, "#" %>
			</li>
			<% end %>
		</ul>

		<%= will_paginate %>


	</div>
</div>
