<% provide(:title, 'New client') %>
<h1>Add new client</h1>
<%= currently_at 'Clients' %>
<div class  = "row">
	<div class = "span6 offset3">
		<%= form_for(@client) do |f| %>



		<%= f.label :name %>
		<%= f.text_field :name%>

		<%= f.label :address %>
		<%= f.text_field :address%>


		<%= f.label :city %>
		<%= f.text_field :city %>


		<%= f.label :state, "State" %>
		<%= f.text_field :state %>

		<%= f.label :postcode, "Postcodes" %>
		<%= f.text_field :postcode %>


		<%= f.label :phone %>
		<%= f.text_field :phone %>

		<%= f.fields_for :contacts do |builder| %>
		<fieldset id="" class="">

			
			<%= builder.label :first_name, "First Name" %>
			<%= builder.text_field :first_name %>
			<%= builder.label :last_name, "Last Name" %>
			<%= builder.text_field :last_name %>


		</fieldset>

		<% end %>

		<%= f.submit "Add client", class: "btn btn-large btn-primary" %>
		<% end %>


	</div>
</div>
