<% provide(:title, "Client details")  %>
<ul class="breadcrumb">
	<li><%= link_to "Home", root_path  %><span class="divider">/</span></li>
	<li><%= link_to "Clients", clients_path  %><span class="divider">/</span></li>
	<li class="active"><%= @client.name %> </li>

</ul>

<div class="row-fluid">
	<div><h1><%= @client.name%> <h1></div>



		<ul class="nav nav-pills">
			<li class="<%= 'active' if params[:tab] == 'tab1' || !params[:tab] %>"><a href="#tab1" data-toggle="tab">Details</a></li>
			<li class="<%= 'active' if params[:tab] == 'tab2' %>"> <a href="#tab2" data-toggle="tab">Contacts</a></li>
			<li class="<%= 'active' if params[:tab] == 'tab2' %>"> <a href="#tab3" data-toggle="tab">Projects</a></li>
			<li class="<%= 'active' if params[:tab] == 'tab2' %>"> <a href="#tab4" data-toggle="tab">Invoices</a></li>
		</ul>

		<div class="tab-content">
			<div class="<%= if (params[:tab] == 'tab1' || !params[:tab]) then 'tab-pane active'  else 'tab-pane' end%>" id="tab1">
				<%= render 'client_detail' %>
					
			</div>
			<div class="<%= if params[:tab] == 'tab2' then 'tab-pane active'  else 'tab-pane' end%>" id="tab2">
					<div class="span8">
						<% if @client.contacts.any? %>
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>Email</th>
						      <th>Phone</th>

						    </tr>
						  </thead>
							<%= render @contacts %>

						</table>
						<% end %>
					</div>
			</div>
			<div class="<%= if params[:tab] == 'tab3' then 'tab-pane active'  else 'tab-pane' end%>" id="tab3">
			</div>

			<div class="<%= if params[:tab] == 'tab3' then 'tab-pane active'  else 'tab-pane' end%>" id="tab4">
			</div>

</div>

