<% provide(:title, 'New contact') %>
<h1>Add new contact</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@contact) do |f| %>

	
		<%= f.label :client_id %>
		<%= f.text_field :client_id %>
		<%= f.label :first_name %>
		<%= f.text_field :first_name%>

		<%= f.label :last_name %>
		<%= f.text_field :last_name%>

		<%= f.label :email %>
		<%= f.text_field :email %>


		<%= f.submit "Add contact", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
