<%= provide(:title, "Projects") %>
<h1>Projects</h1>
<% currently_at "Clients" %>

<table class="table">

		<thead>
			<tr>
				<th>Client</th>
				<th>Project</th>
				<th>Description</th>
				<th>Active</th>

			</tr>
		</thead>
	<% @projects.each do |project| %>
	<tr>
		<td><%= project.client_name %></td>
		<td><%= project.project_name %> </td>
		<td><%= project.project_description %></td>
		<td><%= project.active %></td>
		   <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
</table>